bin
obj
*.suo
*.csproj.user
*.pubxml.user
/JsonDeserialize/.vs/config
/JsonDeserialize/packages
/EmployeesApp/EmployeesApp/newrelic
/EmployeesApp/EmployeesApp/logs
/EmployeesApp/packages
/EmployeesApp/.vs
/CallRecords/packages
/CallRecords/.vs/config
/RandTest/packages
/RandTest/.vs
/RandTest/RandTest/*.user
/nhc-noaa/packages
/bike-distributor-refactor/packages
/bike-distributor-refactor/TestResults
/Trie/packages
