bin
obj
*.suo
*.csproj.user
*.pubxml.user
.vs/
/JsonDeserialize/packages
/EmployeesApp/EmployeesApp/newrelic
/EmployeesApp/EmployeesApp/logs
/EmployeesApp/packages
/CallRecords/packages
/RandTest/packages
/RandTest/RandTest/*.user
/nhc-noaa/packages
/bike-distributor-refactor/packages
/bike-distributor-refactor/TestResults
/Trie/packages
goes_east_tatl_img
packages
*.avi
*.dll
