bin
obj
*.suo
*.csproj.user
*.pubxml.user
.vs/
packages/
/EmployeesApp/EmployeesApp/newrelic
/EmployeesApp/EmployeesApp/logs
/RandTest/RandTest/*.user
/bike-distributor-refactor/TestResults
goes_east_tatl_img
*.avi
*.dll
