div {padding: 10px;max-width: 1400px;}
input {width: 40px;}
#count {text-align: center;}
#speed {width: 900px;position:relative;top:6px;}
#images {width: 1000px; padding: 50px}
#images img {
	height: 9px;
    width: 20px;
	padding-top: 1px;
    padding-left: 1px;
}
#loader {
	position: absolute;
	top: 160px;
	left: 500px;	
}
.active {
    border-radius: 50%;
    background: red;
}
.sprite {
	height: 15px;
	width: 1100px;
}

@media (max-width : 1160px) {
	div {padding: 0px;}
	#map, #data img, #images { width: 100%; }
	#images { width: 80%; padding: 10%;}
	#loader { top: 60px; left: 50px;	}
	#speed { width: 60%; }
	body { margin: 0px;}
}
@media (max-width : 480px) {
	#loader { top: 10px; left: 50px;	}
}
