<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ToTangoToken" value="ab63b0d7e591ff0b8209ef9358478c4876c29787heldersepu@gmail.com"/>
    <add key="HeaderFile" value="mapping.csv"/>
    <add key="OutputDirectory" value=""/>
    <add key="LastOpenFile" value="sample.ToTango"/>
  </appSettings>
</configuration>