
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script >
    function Resp() { alert("Hello")}
</script>

<form onsubmit="Resp()" action="/Resp" method="post" >
    <input id="text" name="txtName" type="text" />    
    <input id="Submit1" type="submit" value="submit" />
</form>
