<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add 
      name="QFWinData_Entities" 
      connectionString="metadata=res://*/ModelEData.csdl|res://*/ModelEData.ssdl|res://*/ModelEData.msl;
                        provider=System.Data.SqlClient;
                        provider connection string=&quot;
                        Data Source=iprodhost.prod.qq\iprod04,32459;
                        Initial Catalog=QFWinData_QQ999999;
                        Persist Security Info=True;
                        User ID=QQ999999;
                        Password=Ncnysn4378$;
                        MultipleActiveResultSets=True&quot;" 
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>