
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<ul>
    @foreach (Department dept in Model)
    {
        <li><b>@dept.Name</b>
            <ul>
                @foreach (Course course in dept.Courses)
                {
                    <li>
                        <span style="color: red;">@course.Number:</span>
                        <a class="fancybox fancybox.ifram" data-fancybox-type="iframe" href="http://localhost:50551/Course/Detail/@course.Id">@course.Title</a>
                        [@course.Duration]
                    </li>
                }

            </ul>
        </li>
    }
</ul>

