<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 
	See https://github.com/nlog/nlog/wiki/Configuration-file 
	for information on customizing logging rules and outputs.
	See https://github.com/nlog/nlog/wiki/Targets
	for more details on the supported targets
	-->

	<targets>
		<target name="logfile" xsi:type="File" fileName="file.txt" />		
		<target name="logsql" xsi:type="Database" dbProvider="System.Data.SqlClient" 
				connectionString="Server=localhost;Database=myDB;Trusted_Connection=True;" 
				commandText="INSERT INTO dbo.myLogTable 
						   ( Severity,        Title, TIMESTAMP, MachineName, ProcessName, ThreadName,  Message, FormattedMessage ) 
					VALUES (   @level, 'TrackSmart', GETDATE(),       @host,     @source,    @method, @message, @stacktrace )">
			<parameter name="@level" layout="${level}" />
			<parameter name="@host" layout="${machinename}" />
			<parameter name="@source" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false}" />
			<parameter name="@method" layout="${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@stacktrace" layout="${exception:stacktrace}" />
		</target>
	</targets>

	<rules>
		<!-- 
		level="Trace|Debug|Info|Warn|Error|Fatal"
		-->
		<logger name="*" minlevel="Warn" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="logsql" />
	</rules>
</nlog>