<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="ToTangoUrlBase"         value="https://app.totango.com/api/v1/search/accounts?query={" />
    <add key="ToTangoUrlEmailQuery"   value="'terms':[{'type':'string_attribute','attribute':'MemberEmail','contains':'@EMAIL@'}]," />
    <add key="ToTangoUrlCompanyQuery" value="'terms':[{'type':'string','term':'search_name','contains':'@NAME@'}]," />
    <add key="ToTangoUrlIDQuery"      value="'terms':[{'type':'string','term':'identifier','eq':'@ID@'}]," />
    <add key="ToTangoUrlFields"       value="'fields':[{'type':'string_attribute','attribute':'MemberEmail','field_display_name':'MemberEmail'},{'type':'string_attribute','attribute':'MemberFName','field_display_name':'MemberFName'},{'type':'string_attribute','attribute':'MemberLName','field_display_name':'MemberLName'},{'type':'string_attribute','attribute':'Status','field_display_name':'Status'}]," />
    <add key="ToTangoUrlFieldsTags"   value="'fields':[{'type':'tags','field_display_name':'Tag list '}]," />
    <add key="ToTangoUrlCommon"       value="'count':10,'offset':0,'sort_by':'name','sort_order':'DESC','scope':'all'}" />
    
    <add key="ToTangoToken"           value="ab63b0d7e591ff0b8209ef9358478c4876c29787heldersepu@gmail.com" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
